{% extends 'mainsite/base.html' %}

{%  load static %}


{% block head %}
<title>Michael Thousand - Contact</title>
<link rel="stylesheet" href="{% static 'mainsite/style.css' %}">
{% endblock %}



{% block content %}
<div id="profilepic">
    <img src="{% static 'images/wedding_solo_3.jpg' %}" alt="Picture of Michael">
</div>
<div class="contacticons">
    <a href="https://www.github.com/michaelthousand" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/in/michael-thousand-89981911b/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
    <a href="mailto:me@michaelthousand.com"><i class="fa fa-envelope"></i></a>
</div>  
<div id="contactMe">
    <h1>Thank you for your submission!</h1>
    

</div>

<footer>
    <div>
        <p>Created and designed by Michael Thousand - &copy; 2023. Photo by Manor Studios 1848.</p>
    </div> 
</footer>

{% endblock %}